<h1>Notiz bearbeiten</h1>
 
<%= form_for :note, url: note_path(@note), method: :patch do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited
        this note from being saved:</h2>
      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.text_area :message %>
  </p>
 
  <p>
    <%= f.submit "speichern" %>
  </p>
<% end %>

<h1>kommentieren:</h1>
<!--%= form_for([@note, @note.comments.build]) do |f| %-->
<%= form_for :comment, url: comments_path do |f| %>
  <!--p>
    <%= f.label :commenter_id %>
  </p-->
  <p>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit "speichern" %>
  </p>
<% end %>

<%= button_to "Zurück", notes_path, :class => "inbox-sf-add-btn tip", :method => :get %>
 