<table>
	<tr>
    	<th>id</th>
    	<th>Notiz</th>
  	</tr>
  	<%= render partial: "note", collection: @notes %>		
</table>
<%= button_to "Neue Notiz", new_note_path, :class => "inbox-sf-add-btn tip", :method => :get %>

	<div id="export">
	  <div class="container">
	    <p class="muted credit"> 
	    	<div style="float: left; width: auto; margin-right: 20px;">

	    		<!-- EXPORT -->
	    		<!--%= link_to "Json Export", '/notes.json', :action => 'download', :class => "inbox-sf-add-btn tip", :method => :get %-->
				<%= button_to "Export", :controller =>'notes', :action => 'export_json', :method => :post %>

				<!-- IMPORT -->
				<%= form_tag({action: :import_json}, multipart: true) do %>
				  <%= file_field_tag 'filedata' %>
				  <%= submit_tag "Import" %>
				<% end %>
			</div>

			<!-- SEARCH -->
			<%= render :partial => 'notes/search' %>
  		</p>
  	  </div>
	</div>