<!DOCTYPE html>
<html>
<head>
  <title>Notizverwaltung</title>
</head>
<body>

<%= render "/layouts/navbar" %>

 	<div class="jumbotron" id="wrap">
      	<div class="container">
			<%= yield %>
		</div>
	</div>

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</body>
</html>
