<!DOCTYPE html>
<html>
<head>
  <title>Notizverwaltung</title>
</head>
<body>
 	<div id="wrap">
      	<div class="container">
			<%= yield %>
		</div>
	</div>

	<div id="footer">
	  <div class="container">
	    <p class="muted credit"> 
    		<%= render :partial => 'notes/search' %>
  		</p>
  	  </div>
	</div>

<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</body>
</html>
