<!DOCTYPE html>
<html>
<head>
  <title>Notizverwaltung</title>
</head>
<body style="height: 99%;">

<nav class="navbar navbar-inverse" role="navigation">
	<div id="navigation">
		<p class="navbar-text navbar-right">
			<%= button_to t('sign_in_facebook'), "/auth/facebook"%>
		</p>
		<p class="navbar-text navbar-right">
			<%= button_to t('sign_in_twitter'), "/auth/twitter"%>
		</p>
	</div>
</nav>

 	<div id="wrap">
      	<div class="container">
			<%= yield %>
		</div>
	</div>

	<div id="footer">
	  <div class="container">
	    <p class="muted credit"> 
	    	<div style="float: left; width: auto; margin-right: 20px;">

	    		<!-- EXPORT -->
	    		<!--%= link_to "Json Export", '/notes.json', :action => 'download', :class => "inbox-sf-add-btn tip", :method => :get %-->
				<%= button_to "Export", :controller => 'notes', :action => 'export_json', :method => :post %>

				<!-- IMPORT -->
				<%= form_tag({action: :import_json}, multipart: true) do %>
				  <%= file_field_tag 'filedata' %>
				  <%= submit_tag "Import" %>
				<% end %>
			</div>

			<!-- SEARCH -->
			<%= render :partial => 'notes/search' %>
  		</p>
  	  </div>
	</div>

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</body>
</html>
