<!DOCTYPE html>
<html>
<head>
  <title>Notizverwaltung</title>
</head>
<body style="height: 99%;">

<nav class="navbar" role="navigation">

	<% if user_signed_in? %>
		<p>Eingeloggt als <%= link_to current_user.email, user_path(current_user) %>, - <%= link_to "Abmelden", "/sign_out"%> </p>
	<% else %>
		<%= button_to "Mit Facebook anmelden", user_omniauth_authorize_path(:facebook) %>

		<!--%= link_to "Sign up", new_user_registration_path %-->
	<% end %>
</nav>

 	<div id="wrap">
      	<div class="container">
			<%= yield %>
		</div>
	</div>

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</body>
</html>
