

<% if current_user == @user%>
<h1><%="Dein Profil"%></h1>
<%else%>
<h1><%="Profil von #{@user.email}"%></h1>
<% end %>


<%= render partial: "user", object: @user %>

<div class ="row">
	<div class="col-xs-6">
		<% if current_user == @user %>
		<h3><%="Deine Notes"%></h3>
		<% else %>
		<h3><%="Notes von #{@user.email}"%></h3>
		<% end %>
		<% if !@user.notes.blank? %>
		<%= render partial: "notes/notes_accordion",locals: {notes: @user.notes, action: "author"} %>
		<% else %>
		Bisher keine Notes verfasst
		<% if current_user == @user %>
		<%= link_to "Jetzt eine Anlegen?", new_note_path %>
		<% end %>
		<% end %>
	</div>
	<div class="col-xs-6">
		<% if current_user == @user %>
		<h3><%="An dich zugewiesene Notes"%></h3>
		<% else %>
		<h3><%="An #{@user.email} zugewiesene Notes"%></h3>
		<% end %>
		<% if !@user.notes_assigend.blank? %>
		<%= render partial: "notes/notes_accordion",locals: {notes: @user.notes_assigend, action: "sigend_to"} %>
		<% else %>
			<%= "Momentan sind noch keine notes an #{@user.email} zugewiesen" %> 
		<% end %>
	</div>
</div>
