<h1>

<%= if current_user == @user
	"Dein Profil"
else
 "Profil von #{@user.name}"
 end %></h1>

<%= render partial: "user", object: @user %>

<% if !@user.notes.blank? %>
	<table>	
	  <% for note in @user.notes %>
	    <tr>
			<td><%= link_to note.heading, note_path(note) %></td>
				<% if current_user == note.user %>
				<td><%= button_to "löschen", note_path(note),:class => "btn btn-default btn-sm", method: :delete, data: { confirm: 'wirklich löschen?' } %></td>
				<td><%= button_to "bearbeiten", edit_note_path(note),:class => "btn btn-default btn-sm", method: :get %></td>
			<% else %>
				<td>Du kannst nur deine eigenen Notes Bearbeiten oder löschen</td>
			<% end %>
</tr>
	  <% end %>
  </table>
<% else %>
  Bisher keine Notes verfasst  
  <%= if current_user == @user
   link_to "Jetzt eine Anlegen?", new_note_path
   end %>
<% end %>

