<div class="navbar navbar-default">
<a href="https://github.com/JavaTheHood/notizverwaltung"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
<div class="container">
        <div class="navbar-header">
          <a href="/"class="navbar-brand"><%=t('navbar_heading')%></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

          <ul class="nav navbar-nav navbar-right">

          	<% if user_signed_in? %>
				      <li><%= image_tag current_user.gravatar_url(:rating => 'R',:size => 50, :secure => true)%>
              </li><li><%= link_to current_user.email, user_path(current_user) %></li>
				      <li><%= link_to t('sign_out_link'), "/sign_out" %></li>
				    <% else %>

             <!--%= link_to('Login', new_user_session_path)  %-->
              <%= render 'devise/menu/registration_items' %>
              <%= render 'devise/menu/login_items' %>				      
			       <% end %>
          </ul>

	</div>
</div>

