<!DOCTYPE html>
<html>
<head>
  <title><%=h( yield(:title) || "Untitled" ) %></title>
  <%= yield(:head) %>
</head>
<body>
<a href="https://github.com/JavaTheHood/notizverwaltung"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
<%= render "/layouts/navbar" %> 	

	 <div class="container">
	 <% flash.each do |name, msg| %>
	 	<div class="alert alert-info alert-dismissable">
	 		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	 		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	 	</div> 
	 <% end %>

 	<div id="wrap">
 	<!--% if show_title? %-->
 		<h1><%=h yield(:title)%></h1>
 	<!--% end %-->
			<%= yield %>
		</div>
	</div>
 
    <div id="footer">
      <div class="container">
        <h1><%= yield(:footer)%></h1>
      </div>
    </div>

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
	<%= csrf_meta_tags %>
</body>
</html>
